@tailwind base;
@tailwind components;
@tailwind utilities;

header,
section {
  padding-right: 24px;
  padding-left: 24px;
}

.container {
  max-width: 375px;
}

.link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;

  border-radius: 8px;
}

.linkAccent {
  background-color: rgb(134, 67, 255);
  color: white;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: none;
    width: 327px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-right: 40px;
    padding-left: 40px;
  }

  .container {
    width: 944px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1216px;
  }
}
